
/*------------------------
    Call TO Action
------------------------*/
.call-to-action-area {
    background-image: url('call-to-action-bg-78923.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}