/*----------------------------
    Top Bar
----------------------------*/
.topbar-area {
    background-color: var(--secondary-color);
}

.topbar-area .topbar-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
    color: #fff;
}

.info-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-items li {
    display: inline-block;
}

.info-items li + li {
    margin-left: 20px;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
}

.social-icons li + li {
    margin-left: 20px;
}